<%= render partial: "brand", locals: {brand: @brand }%>

<h4>Founded in: <%= @brand.year_founded %></h4>
<p class="brand-mission">Mission: <%= @brand.mission %></p>

<%= render partial: "products/modify_buttons", locals: {resource: @brand} %>