<div class="error-explanations">
    <h2><%=pluralize(object.errors.count, "Error") %> prevented the <%= object.class.to_s %> from being created:</h2>
    <ul class="error-details">
        <% object.errors.full_messages.each do |sentence| %>
            <li class="error-message"><%= sentence %></li>
        <% end %>
    </ul>
</div>