<div class="form-input">
    <%= f.label :brand_id %>
    <%= f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :name, selected = f.object.brand_id), prompt: "Select brand" %>
</div>
<hr>
<h4>Or create a new brand:</h4>
<%= f.fields_for :brand do |brand_fields| %>
    <%= render partial: "brands/form", locals: {f: brand_fields} %>
<% end %>