<div class="show-product table-cell"><h3><%= link_to product.name, product %></h3></div>
<div class="show-product table-cell"><p><%= product.category %></p></div>
<div class="show-product table-cell"><p><%= product.price %></p></div>
